*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 956px + 8px;
  margin: 0 auto;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

a,
button {
  cursor: pointer;
}

.main {
    background-color: #e5e5e51f;
}

.btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 24px;

  height: 40px;
  width: 80px;

  cursor: pointer;
  text-align: center;
  font-size: 13px;
  line-height: 24px;

  border-radius: 2px;
  transition: 0.3s ease;
  border: 1px solid #E0E0E0;
}

.btn:hover {
  background-color: #57ad56;
  color: white;
}

.btn:active {
  transform: scale(1.05);
}

.btn_inherit {
  color: #262626;
  background-color: inherit;
}

.btn_black {
  color: #ffffff;
  background-color: #262626;
}

@media (max-width: 576px) {
  .btn {
    height: 40px;
    width: 72px;

    font-size: 11px;
  }
}
