.restraunt {
  position: relative;
}

.restraunt__body {
  padding: 0 4px 40px 8px;
}
.restraunt__logo {
  width: 100%;
  height: 255px;
  background-image: url("./assets/pushkin/main-mobile.png");
  background-size: cover;

  position: relative;
}
.restraunt__info {
  position: absolute;
  left: 8px;
  right: 4px;
  top: 131px;
  height: 180px;

  display: flex;
  align-items: center;
  flex-direction: column;

  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}
.restraunt__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: 24px;

  cursor: pointer;
}
.restraunt__subtitle {
  font-size: 14px;
  line-height: 16px;

  margin-top: 40px;
  color: #626262;
}
.restraunt__time {
  background: #262626;
  width: 98px;
  height: 32px;

  border-radius: 16px;
  margin-top: 16px;

  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}
.restraunt__menu {
  padding-top: 113px;
  text-align: center;
}

.restraunt__select {
  position: relative;
  padding: 0 0 7px 0;

  &::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 1px;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);

    background: #757575;
  }
}

.restraunt-item {
  display: flex;
  justify-content: space-between;

  text-align: left;
  position: relative;

  max-width: 100%;
  height: 102px;

  transition: background 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      background: #75757510;
      .restraunt-item__subtitle {
        opacity: 1;
      }
    }
    .restraunt-item__subtitle {
      opacity: 0;
      transition: opacity 0.5s ease;
    }
  }
}

@media (max-width: $grid-breakpoints-sm) {
  .restraunt-item + .restraunt-item {
    margin-top: 16px;
  }
}

.restraunt-item__title {
  font-size: 14px;
  line-height: 24px;
  color: #1d1d1d;
  font-weight: 550;
  opacity: 0.8;

  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restraunt-item__subtitle {
  font-size: 13px;
  line-height: 21px;
  margin-top: 4px;
  width: 180px;
  color: #626262;
}
.restraunt-item__price {
  font-size: 15px;
  line-height: 21px;
  margin-top: 16px;
  font-weight: 600;

  color: #1d1d1d;
}
.restraunt-item__img {
  height: 102px;
  width: 102px;

  & img {
    width: 100%;
    height: 100%;
  }
}

.restraunt-item__border {
  position: absolute;
  left: 0%;
  right: 0.33%;
  top: 99.02%;
  bottom: 0%;
  width: 100%;
  height: 1px;

  background: #757575;
  mix-blend-mode: normal;
  opacity: 0.2;

  @media (min-width: $grid-breakpoints-sm) {
    display: none;
  }
}

.restraunt__select_desktop {
  display: none;
}

@media (min-width: $grid-breakpoints-sm) {
  .restraunt__logo {
    &::before {
      content: "";
      position: absolute;
      bottom: -80px;
      width: 100%;
      height: 1px;
      overflow: hidden;
      background-color: rgba(117, 117, 117, 0.2);
    }
  }

  .restraunt__select_desktop {
    display: block;

    &__wrapper {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      position: relative;
      padding-bottom: 29px;
    }

    .meal__title {
      font-size: 22px;
      line-height: 34px;

      margin-top: 53px;
      text-align: left;
    }

    div + div {
      margin-left: clamp(20px, 5vw, 42px);
    }

    input {
      opacity: 0;
      position: absolute;
      overflow: hidden;
    }

    label {
      font-size: 16px;
      line-height: 19px;
      color: #626262;
    }

    input:checked + label {
      color: #327430;
    }
  }

  .restraunt__select_mobile {
    display: none;
  }

  .restraunt__menu {
    padding-top: 31px;
    text-align: center;
  }

  .restraunt__choose {
    max-width: 956px;
  }

  .restraunt__logo {
    background-image: url("./assets/pushkin/main.png");
    height: 364px;
    position: relative;
  }

  .restraunt__info {
    width: 389px;
    height: 204px;

    left: 80px;
    top: 80px;

    position: relative;
  }

  .restraunt-item {
    max-width: 70%;
    height: 160px;
    cursor: pointer;

    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;
  }

  .restraunt__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-top: 38px;

    text-align: center;
  }
  .restraunt__subtitle {
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    position: absolute;
    left: 39px;
    bottom: 45px;
    margin: 0;
  }
  .restraunt__time {
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    font-weight: 600;

    position: absolute;
    right: 30px;
    bottom: 39px;
    margin: 0;
  }

  .restraunt-item__title {
    font-size: 16px;
    line-height: 24px;

    margin-top: 16px;
    margin-left: 16px;
  }
  .restraunt-item__subtitle {
    margin-top: 4px;
    margin-left: 16px;
  }
  .restraunt-item__price {
    margin-top: 58px;
    margin-left: 16px;
  }
  .restraunt-item__img {
    height: 160px;
    width: 170px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .restraunt__select {
    position: relative;
    padding: 0 0 31px 0;
    &::before {
      width: 0;
      height: 0;
    }
  }

  .restraunt__body {
    padding: 0 4px 80px 8px;
  }
}

@media (min-width: $grid-breakpoints-lg) {
  .restraunt-item {
    max-width: 470px;
  }

  .restraunt-item__title {
    width: 270px;
  }
  .restraunt-item__subtitle {
    width: 270px;
  }
}
